/** Stylesheet for Publizjr
*
* @uses This stylesheet is used by:
* https://omegajunior.globat.com/code/publizjr/
*   
* @copyright Copyright (c) 1993 - 2016, A.E.Veltstra
* @author A.E.Veltstra <publizjr@protonmail.com>
* @version 20160729t1825
*/
html,body{font-weight:normal;font-size:medium;font-family:"Roboto Condensed Light",Helvetica,"Arial Narrow",sans-serif;font-weight:light;line-height:2}
html{padding:0;margin:0;background-color:#4C5035;color:#000;text-rendering:optimizeLegibility;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%}
body{padding:1em;margin:1em auto;position:relative;border:0 solid;min-width:15em;max-width:45em;background-color:#DAD2A8;color:#2F1C04}
header,aside,article,footer,section{display:block}
a:link{text-decoration:underline;color:#141f78}
a:visited{text-decoration:underline;color:#59178a}
a:active,a:hover,a:focus{text-decoration:underline;color:#006338}
h1{background:#000;color:#fff;font-weight:bold;font-size:275%;margin:0 0 0.5em;padding:0.4em;min-height:221px;-ms-word-break:break-all;word-break:break-all;/* Non standard for webkit */word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-radius:3pt}
h1 img{font-size:medium;margin:0pt 0.4em 0pt 0pt;border-radius:3pt}
h2,h3,h4,h5,h6,legend,caption{font-weight:bold;font-style:italic;color:#5c3021}
h1,h2,h3,h4,h5,h6{line-height:1.3;font-family:"Roboto Bold",Verdana,"Arial Rounded",sans-serif}
i,em,.intro{color:#5c3021}
.warningJavascript,.warningUnsupportedBrowser{margin:1em;padding:1em;border:0.17em inset #652f2a;background-color:#934141;color:#fff}
.javascriptEnabled .warningJavascript{display:none}
table{width:100%}
fieldset{padding:0.5em;border:0.08em solid #141f78}
legend{margin-left:0.33em}
.pathAndQ{background:#A79E86;color:#2F1C04;padding:0.5em 2%;font-size:inherit;vertical-align:baseline;border:none;border-radius:3pt;display:table;width:95%;margin-left:auto;margin-right:auto}
.path,.q{font-size:inherit;vertical-align:baseline;border:none;display:table-cell}
.path{width:40%}
.q{width:60%}

footer{background:#A79E86;color:#2F1C04;padding:1em;margin:2em 0 0em;font-size:inherit;border-radius:3pt}
.addressInfo{background:#652f2a;color:#CFD0BC;padding:0.5em;margin-top:1em;border-radius:3pt}
.addressInfo a:link{color:#CFD0BC;text-decoration:underline}
.addressInfo a:focus{color:#eef}
.addressInfo a:active{color:#fee}
.addressInfo a:visited{color:#fee}
.addressInfo a:hover{color:#fff}
.addressInfo hr{border-color:#A79E86}
address{font-style:normal;font-weight:normal}
.vcard{line-height:1.3;}
.vcard:after{clear:both}
.vcard .caption{font-weight:bold}
.vcard img{float:left;margin-right:0.5em;border:0 solid;max-height:156px;max-width:156px}
form,input,button{font-size:inherit;font-family:inherit}
.pageComments input{font-size:inherit;font-family:inherit}
input.cmd{font-weight:bold}
.intro{margin-bottom:2em;font-size:larger;font-style:italic;font-weight:bold}
.body{font-weight:normal}
.body pre,.body code{display:block;line-height:1.1;font-family:"Deja Vu Sans Mono","Inconsolata","Courier New",courier,monospace;background-color:#273839;color:#F1F7FF;padding:1em;border:0.08em solid #652f2a;border-radius:3pt;overflow-x:scroll}
.body pre code,.body code pre{padding:0;border:0 none;overflow-x:visible}
.body pre br{font-size:0.1pt;line-height:0.1;margin:0;padding:0}
.body ul{margin:2pt 0}
#xtend{margin-top:3em}
hr{border:0 solid #2F1C04;border-bottom-width:0.08em;background:transparent;line-height:0.125em;width:100%;margin:0;padding:0}
img{max-width:100%}
h2.related,div.callToAction{margin-top:3em}
ul.related,ul.follow{font-weight:normal;line-height:1.8}
ul.related li{list-style-type:disc}
dt{font-size:larger}
dd{margin-bottom:1.5em}

.body a[href*=facebook]:before,.follow a[href*=facebook]:before{content:" f ";display:inline-block;vertical-align:middle;background:#3B5999;color:white;font-family:Verdana,Arial,sans-serif;font-weight:bold;border:1pt outset gray;border-bottom:2pt solid #def;margin-right:3pt;padding:4pt 2pt 0 6pt;line-height:0.8;border-radius:2pt;-moz-text-shadow:0em 0.08em 0.08em #000;-ms-text-shadow:0em 0.08em 0.08em #000;-o-text-shadow:0em 0.08em 0.08em #000;-webkit-text-shadow:0em 0.08em 0.08em #000;text-shadow:0em 0.08em 0.08em #000}
.body a[type*=rss]:before,.follow a[type*=rss]:before,.related a[type*=rss]:before{content:url(/im1/rss-zjr-16.png);display:inline-block;vertical-align:middle;background:transparent;border:0 solid;margin-right:3pt;padding:0;line-height:1}
.body a[href*=twitter]:before,.follow a[href*=twitter]:before{content:url(/im1/twitter-bird-dark-bgs-20.20120818.png);display:inline-block;vertical-align:middle;background:#000;border:1pt solid #fff;margin-right:3pt;padding:0;line-height:1;border-radius:2pt}
.body a[href*='plus.google']:before,.follow a[href*='plus.google']:before{content:" g ";background-color:#934141;color:#fff;font-family:"Century Schoolbook L","Times New Roman","Times",serif;font-weight:bold;line-height:1.3;display:inline-block;vertical-align:middle;margin-right:3pt;padding:0pt 4pt;-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1)}
.printOnly{display:none}
#chitikaAdBlock-0{background-color:#eee;background-color:rgba(255,255,255,0.8);border-radius:3pt;margin-bottom:3pt}

@media print{
 *{background-color:#fff;color:#000}
 body{margin:0;padding:1cm;border:none;max-width:100%;min-width:0}
 html,body,h1,h2,h3,h4,h5,h6,i,em,strong,legend,caption,
 .pathAndQ,footer,.addressInfo{background-image:none;background-color:#fff;color:#000}
 h1{min-height:0;color:#000;font-size:x-large;margin-left:0.4em}
 p,h2,h3{orphans:3;widows:3}
 a,a:link,a:visited,a:active,a:hover,a:focus{color:#009}
 a:after{content:' (\25BA ' attr(href) ')';color:#009}
 .noPrint,.pageComments{display:none}
 .printOnly{display:inline}
}
@media all and (max-width:768px){
 body{margin:0 auto;max-width:768px;min-width:0}
}
@media all and (max-width:360px){
 body{margin:0 auto;padding:0;max-width:360px;min-width:0}
 h1{min-height:0}
  .pathAndQ,.path,.q,.q .siteSearch{display:block;width:100%}
 h1,article,footer,.addressInfo,.pathAndQ{padding:3pt;border-radius:0pt}
 h1,.pathAndQ{margin:0}
 .addressInfo{margin:3pt -3pt 0pt;}
}
